.c-common{
    &__title{
        color:$blown;
        font-size: 4rem;
        margin: 30px 0;
    }
    &__text{
        color: $blown;
        font-size: 1.6rem;
        margin: 19px 0;
    }
}