.l-colum{
    position: relative;
    @include media_PC_wide{
        display: flex;
    }
    &-main{
    @include media_PC_wide{
        width: calc(100% - 367px);
    }
    }   
    &-nav{
        display: none;
        max-width:367px;
        width: 87%;
        position: absolute;
        top:0;
        right: 0;
        transform: translateX();
        @include media_PC_wide{
            position: static;
            display: block;
            transform: translateX();

        }    
    }

}